@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*:root {
    --roxoPrincipal: #000000;
    --roxoSecundario: #000000;
    --corBranca: #ffffff;
    --fundoClaro: #f9f9fc;
    --fundoConteudo: #ffffff;
    --textoEscuro: #333333;
    --bordaClara: #eeeeee;
    --alturaBarraSuperior: 60px;
}*/

* {
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: inherit;
}

.selecionado {
    background-color: #f7f7f700;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    display: flex;
    background-color: #1b1b1b;
    color: #2E2E2E;
    margin: 0;
    font-family: Inter, sans-serif;
    background: linear-gradient(180deg, #ff6a00, #8f2d5f, #2b102c);
    height: 100vh;
    padding: 20px;
    color: #fff;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    padding-left: 0px;
}

nav {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.logo {
    width: 90%;
    margin-bottom: 15%;
    align-self: center;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 7%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    color: #000000;
    margin-bottom: 20%;
}

.nav-item:hover {
    background-color: #f9d360;
}

main {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.page {
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.8fr;
    gap: 60px;
    max-width: 1400px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0 0 10px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
}

.mood-row {
    margin-top: 20px;
}

.emojis {
    font-size: 26px;
    margin-top: 8px;
}

.color-row {
    margin-top: 20px;
}

.color-box {
    width: 60px;
    height: 25px;
    background: #ff4500;
    border-radius: 8px;
    margin-top: 5px;
}

.textSent input {
    width: 100%;
    height: 120px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.13);
    color: #fff;
    font-size: 14px;
    resize: none;
}

.textmsc input {
    width: 100%;
    height: 19px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.13);
    color: #fff;
    font-size: 14px;
    resize: none;
}

.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.player{
margin: 10px;
}

button {
    background-color:rgba(255, 255, 255, 0.13);
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.foto input{
    background-color:rgba(255, 255, 255, 0.13);
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#preview {
    border-radius: 20px;
    width: 300px; 
    display: none;
     margin-bottom: 10px;
}
.save {
    background: rgba(255, 255, 255, 0.15);
}

.clear {
    background: rgba(255, 255, 255, 0.1);
}
.upload-label {
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
}

.tip {
    opacity: 0.7;
    font-size: 12px;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
}

.summary-box {
    margin-top: 10px;
    height: 50px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
}

.listen-time {
    margin-top: 5px;
    font-size: 22px;
}

.history-list p {
    opacity: 0.8;
    margin: 5px 0;
}

.Ipttexto {
    background-color: #9c1515;
}