<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> LF Login</title>

    <script src="./js/sessao.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="icon" href="../assets/icon/sunrise.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>

    <!--Header-->

    <div class="header">
        <div class="logo-container">
            <div class="photo">
                <a href="index.html">
                    <img src="./assets/icon/sunrise.png">
                </a>
            </div>
            <h1 class="titulo"> Lusco-Fusco </h1>
        </div>
        <ul class="navbar">
            <li>
                <a href="index.html">Home</a>
            </li>
            <a href="cadastro.html">Cadastro</a>
            </li>
            <li class="agora">
                <a href="#">Login</a>
            <li>
        </ul>
    </div>
    </div>
    </div>
    <div class="login">
        <div class="alerta_erro">
            <div class="card_erro" id="cardErro">
                <span id="mensagem_erro"></span>
            </div>
        </div>

        <div class="container">

            <div class="card card-login">

                <h2>Seja bem-vindo! <br> Aproveite o pôr do sol </h2>
                <div class="formulario">
                    <div class="campo">
                        <a>E-mail:</a>
                        <input id="input_email" type="text" placeholder="Login">
                    </div>
                    <div class="campo">
                        <a>Senha:</a>
                        <input id="input_senha" type="password" placeholder="******">
                    </div>
                    <button class="botao" onclick="entrar()">Entrar</button>
                    <div id="mensagem_erro"></div>
                </div>

                <div id="div_aguardar" class="loading-div">
                    <img src="./assets/solzinho.gif" id="loading-gif">
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        function entrar() {
            
            var emailVar = input_email.value;
            var senhaVar = input_senha.value;

            console.log("FORM LOGIN: ", emailVar);
            console.log("FORM SENHA: ", senhaVar);

            fetch("/usuarios/autenticar", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    emailServer: emailVar,
                    senhaServer: senhaVar,
                })
            }).then(function (resposta) {
                console.log("ESTOU NO THEN DO entrar()!")

                if (resposta.ok) {
                    console.log(resposta);
                    resposta.json().then(json => {
                        console.log(json);
                        console.log(JSON.stringify(json));
                        sessionStorage.EMAIL_USUARIO = json.email;
                        sessionStorage.NOME_USUARIO = json.nome;
                        sessionStorage.ID_USUARIO = json.idUser;

                        console.log("EMAIL: " + sessionStorage.EMAIL_USUARIO);
                        console.log("Nome: " + sessionStorage.NOME_USUARIO);
                        console.log("ID: " + sessionStorage.ID_USUARIO);
                        console.log("Login realizado com sucesso!");

                        window.location = "dashboard/diarioLF.html";
                    });
                } else {
                    console.log("Houve um erro ao tentar realizar o login!");
                    resposta.text().then(texto => {
                        console.error(texto);
                        mensagem_erro.innerHTML = texto;
                    });
                }
            }).catch(function (erro) {
                console.log(erro);
                mensagem_erro.innerHTML = "Erro na conexão com o servidor";
            })
        }
    </script>
</body>

</html>