@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --tamanho-header: 140px;
  --tamanho-footer: 70px;
  --tamanho-banner: calc(140vh - var(--tamanho-header) - var(--tamanho-footer));
  --tamanho-login: calc(130vh - var(--tamanho-header));
  --tamanho-cadastro: calc(130vh - var(--tamanho-header));
}

* {
  box-sizing: border-box;
  list-style: none;
}


body {
   background: linear-gradient(180deg, #ff9f47, #f8d37b, #fef7e0);
  font-family: "Poppins", sans-serif;
  color: #2c1a00;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  position: fixed;
  display: flex;
  background: #fffdfd00;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: auto;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header a {
  color: #5a262c;
  text-decoration: none;
  border-bottom: 2px solid #00000000;
  border-radius: 2%;
}

.header img {
  float: left;
  justify-content: flex-start;
  width: 5px;
  height: 70px;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
  background-color: #f0ac02;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #f0ac02;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.navbar a {
  align-items: left;
}

.navbar {
  width: 32%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 3px;
  margin-left: 3px;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.logo-container {
  justify-content: space-between;
  gap: 20px;
}

.titulo {
  color: #5a262c;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-size: 30px;
}

.navbar a {
  color: #5a262c;
}

.header h1 {
  margin: 0;
}

.banner {
  opacity: 1;
  background-image: url("../assets/imgs/pexels-pixabay-434551.jpg");
  height: var(--tamanho-banner);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 20px;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 45px;
  text-align: center;
  color: #5a262c;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #000000;
  display: flex;
}

.social p {
  color: #ffffff;
}

.social h4 {
  color: #fff;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  background-color: #000000;
  height: 150px;
  color: #fff;
  font-size: 15px;
  width: 100%;
  margin: auto;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

.login,
.cadastro {
  background-image: url("../assets/imgs/pexels-pixabay-434551.jpg");
  min-height: var(--tamanho-login);
  background-size: cover;
  display: flex;
  align-items: center;
}

.login .container,
.cadastro .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.card-login h2 {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.card {
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(56, 56, 56);
  flex-direction: column;
  height: fit-content;
  padding: 30px;
  border-width: 5px;
  border-style: outset;
  box-shadow: 5px 5px 5px;
  border-color: #00000000;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

#senha_input,
#email_input,
#confirmacao_senha_input,
#nome_input,
#input_senha,
#input_email {
  background-color: #fffefe;
  border-color: #fff;
  width: 100%;
}

.card-cadastro h2 {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.card-cadastro span {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.card h2 {
  color: #5a262c;
  margin: 0;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.card a {
  color: #5a262c;
}

.formulario {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #121212;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  width: 100%;
  padding: 12px;
}

.formulario select {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
  width: 100%;
}

.buttonPhoto {
  cursor: pointer;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.botao {
  cursor: pointer;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  width: 120px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none;
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: rgb(0, 0, 0);
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #bcbcbc 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

input {
  margin-bottom: 10px;
  border: 2px solid #909090;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #121212;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

.photo img {
  float: left;
  width: 70px;
}

.titulo h4,
.titulo h1 {
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.oque,
.objetivo,
.depoimento,
.funcionamento,
.convite {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 0;
}

.oque p {
  line-height: 1.7;
  font-size: 18px;
  text-align: justify;
}

.main_funcionamento div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.main_funcionamento h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.convite {
  text-align: center;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer a {
  color: white;
  cursor: pointer;
}

.titulo1,
.titulo2 {
  text-align: center;
  color: #5a262c;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-size: 35px;
}

.main_funcionamento {
 text-align: center;
  color: #5a262c;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-size: 35px;
}
.convite{
  text-align: center;
  font-optical-sizing: auto;
  font-size: 45px;
}

.footer-lusco {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 12px 12px 0 0;
}